body
  margin: 0
  padding: 10px 0px
  font-size: 20px
  font-family: 'Museo Slab'

  p
    line-height: 140%

  h1.title
    font-family: "Cabin"
    width: 250px
    margin: 0 auto
    text-transform: uppercase
    text-align: center
    line-height: 100%

    .big
      font-size: 65px

    font-size: 56px

    img
      margin-top: 10px
    
  #the-word
    text-align: center
    margin-top: 7px

    .word
      font-size: 30px
      font-weight: bold
      font-family: 'Cabin'

    .definition
      font-size: 20px
      font-family: 'Museo Slab'

      .type
        font-style: italic

  #example
    font-style: italic

  #divider
    margin: 0 auto
    display: block
