%html
  %head
    %title Word of the Day
    %link{href: url("/application.css"), rel: "stylesheet"}
  %body
    %h1.title
      %div
      Palabra
      .big
        del día
      %img.dither{src: url("/bar.png")}
    #the-word
      .word=@word
      .definition
        \/#{@pronounciation}/
        •
        %span.type= @type

    %p
      = @definition
      •
      %span#example
        = @example
